$sun: hsl(56, 100%, 49%); 


body {
  background-color: #dedede;
  display: grid;
  place-content: center;
  height: 100vh;
}

.main {
  border-radius: 18px;
  background: #dedede;
  box-shadow: 35px 35px 70px #595959, -35px -35px 70px #ffffff;
  height: 80vh;
  width: 80vw;
  position: relative;
  overflow: hidden;

  .sun{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 20px 0px $sun, 0 0 40px 0px $sun, 0 0 60px 0px $sun, 0 0 80px 0px $sun, 0 0 100px 0px $sun, 0 0 120px 0px $sun;
      top: 10%;
      right: 10%;
      position: absolute;
      z-index: 9;
  }

  .rod {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    min-height: 70px;
    width: 100%;
    background-color: #232427;

    &::before {
      content: "";
      position: absolute;
      background-color: #06b300;
      height: 20%;
      top: 0;
      width: 100%;
    }

    &::after {
      content: "";
      top: 50%;
      position: absolute;
      background: repeating-linear-gradient(
        90deg,
        #ff000000 0%,
        #ff000000 50%,
        #fff 50%,
        #fff 100%
      );
      background-size: 30px;
      height: 3px;
      width: 100%;
      animation: road 0.5s linear infinite;
    }

    .fa-car-side {
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      z-index: 9999;
      position: absolute;
      top: -20px;
      -webkit-text-stroke: 3px black;
      left: 5%;
      color: #fff;
      animation: carAnimation infinite .5s linear ;
      transition: .3s ease;
      cursor: pointer;
    }
  }

  .clouds{
      i{
        position: absolute;
        top: calc( 20px * var(--i));   
        left: calc( 20px * var(--i));   
        color: #fff;
        -webkit-text-stroke: 2px black;
        animation: animationCloud linear infinite;
        animation-delay: calc(-5s * var(--i));
        animation-duration: calc( 3s * var(--i)  );
        z-index: 10;
      }
  }

  .trees{
      position: relative;
      z-index: 20;
      width: 100%;
      height: 100%;
      i{
          position: absolute;
          bottom: 69px;
          color: #06b300;
          animation: animationCloud 6s linear infinite;
          animation-delay: calc(-5s * var(--i));

          &:nth-child(3n){
              font-size: 4em;
          }
      }
  }

  .mount{

    i{
        position: absolute;
        bottom: 0;
        color: #8b3c23;
        animation: animationCloud 20s linear infinite;
        animation-delay: calc(-4s * var(--i));
    }
}






}

@keyframes road {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -30px;
  }
}


@keyframes carAnimation {
    0%, 100%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(0);
    }
}

@keyframes animationCloud {
    0%{
        transform: translateX(110vw);
    }
    100%{
        transform: translateX(-110vw);
    }
}